.content {
  height: 95vh;
  background-color: black;
}

.heading-primary-main {
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 1.5rem;
  color: white;
}

.heading-primary-main1 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}
