.main {
  min-height: 100vh;
  background-image: url(../../assets/charles-deluvio-Lks7vei-eAg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.main2 {
  background-color: #f7f7f7;
  min-height: 100vh;
}
