mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

.res {
  position: absolute;
  background-color: transparent;
  z-index: 20;
}

a {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

a:hover {
  //color: #ff8671;
  color: black;
}

li {
  list-style: none;
}

.example-spacer {
  flex: 1 1 auto;
}

.sidenav {
  width: 20rem;
  //background: rgba(7, 6, 44, 0.753);
  background: rgba(128, 128, 128, 0.774);
}

.example-icon {
  color: white;
}

.matlist {
  color: white;
}

mat-list-item:hover {
  //color: #ff8671;
  color: black;
}

// .nav-list {
//   transition: transform 0.2s;
// }
// .nav-list:hover {
//   transform: scale(1.3);

//   transform: translateY(-1rem);
//   -webkit-transform: translateY(-1rem);
//   -moz-transform: translateY(-1rem);
//   -ms-transform: translateY(-1rem);
//   -o-transform: translateY(-1rem);
// }

// .logosize {
//   height: 2px;
//   width: 4px;
// }
