<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list
      role="list"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutAlign="center end"
    >
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/welcome"
        (click)="sidenav.close()"
        class="matlist"
        >Home</mat-list-item
      >

      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/portfolio"
        (click)="sidenav.close()"
        class="matlist"
        >Portfolios</mat-list-item
      >

      <!-- <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/"
        (click)="sidenav.close()"
        class="matlist"
        >About tent</mat-list-item
      >

      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/"
        (click)="sidenav.close()"
        class="matlist"
        >ContactUs</mat-list-item
      > -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="res" fxLayout="row" role="heading">
      <button
        (click)="sidenav.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <ul role="list" fxLayout="row" fxLayoutGap="5rem">
        <li fxHide.lt-md>
          <a
            role="listitem"
            routerLink="/welcome"
            routerLinkActive="active"
            class="nav-list"
            >Home</a
          >
        </li>

        <li fxHide.lt-md>
          <a role="listitem" routerLink="/portfolio" routerLinkActive="active"
            >Portfolios</a
          >
        </li>

        <!-- <li fxHide.lt-md>
          <a role="listitem" routerLink="/" routerLinkActive="active"
            >About tent</a
          >
        </li>

        <li fxHide.lt-md>
          <a role="listitem" routerLink="/" routerLinkActive="active"
            >ContactUs</a
          >
        </li> -->
      </ul>
      <span class="example-spacer"></span>

      <a routerLink="/welcome" fxLayoutAlign="center center"
        ><img class="logo" src="../assets/nn1.png" />
      </a>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with phone icon"
      >
        <a
          fxLayoutAlign="center center"
          href="https://wa.me/0014039032374/?text=urlencodedtext"
          ><mat-icon>phone</mat-icon></a
        >
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
