<div class="main" fxLayout="row">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>
    <div class="main-bg-video">
      <video autoplay muted loop class="main-bg-video__content">
        <source
          src="../../assets/coverr-hands-typing-on-a-keyboard-7861.mp4"
          type="video/mp4"
        />
        Your browser isn't supported! ../../assets/New-York-Jam (1).mp4
      </video>
    </div>
    <h1 class="mat-display-3" fxLayoutAlign="center center">
      as far as the eye can see...
    </h1>
    <div class="main-btn-position" fxLayoutAlign="start center">
      <a routerLink="/" class="main-btn main-btn-white">follow us &rarr;</a>
    </div>
  </div>
</div>

<div class="main2">
  <mat-grid-list cols="2" rowHeight="1:1" gutterSize="5rem" fxHide.lt-md>
    <mat-grid-tile>
      <mat-card
        class="main2-card"
        fxLayoutAlign="start center"
        fxLayout="column"
        fxLayoutGap="1rem"
      >
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img
          src="../../assets/computer-line.svg"
          alt="computer icon"
          class="main2-icon"
        />

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main2-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img
          src="../../assets/computer-line.svg"
          alt="computer icon"
          class="main2-icon"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="1" rowHeight="1:1.6" fxHide.gt-md fxHide.md>
    <mat-grid-tile>
      <mat-card
        class="main2-card"
        fxLayoutAlign="start center"
        fxLayout="column"
        fxLayoutGap="1rem"
      >
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img
          src="../../assets/computer-line.svg"
          alt="computer icon"
          class="main2-icon"
        />

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main2-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img
          src="../../assets/computer-line.svg"
          alt="computer icon"
          class="main2-icon"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="main3">
  <div fxLayoutAlign="center center" fxLayout="column">
    <h1 class="main3-header">
      Our Skills
    </h1>
    <h3>We choose the bests for your project...</h3>
  </div>
  <div fxHide.lt-md>
    <mat-grid-list cols="8" rowHeight="2:1">
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/CSS3_logo_and_wordmark.svg" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img
          class="main3-icon"
          src="../../assets/javascript-js-seeklogo.com.svg"
        />
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/angular-seeklogo.com.svg" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img
          class="main3-icon"
          src="../../assets/redux-observable-seeklogo.com.svg"
        />
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/firebase-seeklogo.com.svg" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/nodejs-seeklogo.com.svg" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/mongodb-seeklogo.com.svg" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/auth0-seeklogo.com.svg" />
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxHide.gt-md fxHide.md>
    <mat-grid-list cols="2" rowHeight="8:4" fxLayoutGap="1rem">
      <mat-grid-tile
        ><img
          class="main3-icon"
          src="../../assets/HTML5_logo_and_wordmark.svg"
        />
      </mat-grid-tile>
      <mat-grid-tile
        ><img class="main3-icon" src="../../assets/CSS3_logo_and_wordmark.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img
          class="main3-icon"
          src="../../assets/javascript-js-seeklogo.com.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img class="main3-icon" src="../../assets/angular-seeklogo.com.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img
          class="main3-icon"
          src="../../assets/redux-observable-seeklogo.com.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img class="main3-icon" src="../../assets/firebase-seeklogo.com.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img class="main3-icon" src="../../assets/nodejs-seeklogo.com.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img class="main3-icon" src="../../assets/auth0-seeklogo.com.svg"
      /></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="main4">
  <mat-grid-list class="main4-grid-list" cols="2" fxHide.lt-md rowHeight="2:1">
    <mat-grid-tile>
      <mat-card
        class="main4-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title>About us</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main4-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title>Contact</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            +98-8776678888<br />
            test@yahoo.com
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list
    fxHide.gt-md
    fxHide.md
    class="grid-list"
    cols="1"
    rowHeight="1:1"
  >
    <mat-grid-tile>
      <mat-card
        class="main4-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title>About us</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main4-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title>About us</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
