<div class="main" fxLayout="row">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>
    <div class="bg-video">
      <video autoplay muted loop class="bg-video__content">
        <source src="../../assets/New-York-Jam (1).mp4" type="video/mp4" />
        Your browser isn't supported! ../../assets/New-York-Jam (1).mp4
      </video>
    </div>
    <h1
      class="heading-primary"
      class="mat-display-3"
      fxLayoutAlign="center center"
    >
      Welcome to the next generation of web design...
    </h1>
    <div class="btn-position" fxLayoutAlign="start center">
      <a routerLink="/" class="btn btn-white">follow us &rarr;</a>
    </div>
  </div>
</div>

<div class="main2">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>

<div class="main3">
  <div fxLayoutAlign="center center">
    <h1>Our Skills</h1>
  </div>
  <div>
    <mat-grid-list cols="8" rowHeight="2:1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
      <mat-grid-tile>5</mat-grid-tile>
      <mat-grid-tile>6</mat-grid-tile>
      <mat-grid-tile>7</mat-grid-tile>
      <mat-grid-tile>8</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="main4">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <h1>ABOUT US</h1>

      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
      impedit est odit excepturi vel deleniti itaque voluptates accusamus. Autem
      enim animi ea voluptatibus eum impedit. Maiores perferendis porro culpa?
      Exercitationem.
    </mat-grid-tile>

    <mat-grid-tile>
      <h1>CONTACT US</h1>

      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
      impedit est odit excepturi vel deleniti itaque voluptates accusamus. Autem
      enim animi ea voluptatibus eum impedit. Maiores perferendis porro culpa?
      Exercitationem.
    </mat-grid-tile>
  </mat-grid-list>
</div>
