<div class="main" fxLayout="row">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>
    <div class="main-bg-video">
      <video autoplay muted loop class="main-bg-video__content">
        <source src="../../assets/New-York-Jam (1).mp4" type="video/mp4" />
        Your browser isn't supported! ../../assets/New-York-Jam (1).mp4
      </video>
    </div>
    <h1 class="mat-display-3" fxLayoutAlign="center center">
      as far as the eye can see...
    </h1>
    <div class="main-btn-position" fxLayoutAlign="start center">
      <a routerLink="/" class="main-btn main-btn-white">follow us &rarr;</a>
    </div>
  </div>
</div>

<div class="main2">
  <mat-grid-list cols="2" rowHeight="1:1" gutterSize="5rem" fxHide.lt-md>
    <mat-grid-tile>
      <mat-card
        class="main2-card"
        fxLayoutAlign="start center"
        fxLayout="column"
        fxLayoutGap="1rem"
      >
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>Web Design & Development</mat-card-title>
          <mat-card-subtitle>DELIVER MORE TO YOUR CUSTOMERS</mat-card-subtitle>
        </mat-card-header>
        <img
          src="../../assets/computer-line.svg"
          alt="computer icon"
          class="main2-icon"
        />

        <mat-card-content>
          <p>
            Our global team, paired with our methods & scale, work with you to
            manage, evolve, and continuously modernize your Website.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main2-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title>E-Commerce Solutions</mat-card-title>
          <mat-card-subtitle>DELIVER MORE TO YOUR CUSTOMERS</mat-card-subtitle>
        </mat-card-header>
        <img
          src="../../assets/shopping-cart-2-line.svg"
          alt="computer icon"
          class="main2-icon"
        />
        <mat-card-content>
          <p>
            We specialize in building eCommerce websites that drive more sales
            by providing customers with a seamless, omni-channel shopping
            experience.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="1" rowHeight="1:1.6" fxHide.gt-md fxHide.md>
    <mat-grid-tile>
      <mat-card
        class="main2-card"
        fxLayoutAlign="start center"
        fxLayout="column"
        fxLayoutGap="1rem"
      >
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>Web Design & Development</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img
          src="../../assets/computer-line.svg"
          alt="computer icon"
          class="main2-icon"
        />

        <mat-card-content>
          <p>
            Our global team, paired with our methods & scale, work with you to
            manage, evolve, and continuously modernize your Website.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main2-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title>E-Commerce Solutions</mat-card-title>
          <mat-card-subtitle>DELIVER MORE TO YOUR CUSTOMERS</mat-card-subtitle>
        </mat-card-header>
        <img
          src="../../assets/shopping-cart-2-line.svg"
          alt="computer icon"
          class="main2-icon"
        />
        <mat-card-content>
          <p>
            We specialize in building eCommerce websites that drive more sales
            by providing customers with a seamless, omni-channel shopping
            experience.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="main3">
  <div fxLayoutAlign="center center" fxLayout="column">
    <h1 class="main3-header">
      Our Skills
    </h1>
    <h3>We choose the bests for your project...</h3>
  </div>
  <div fxHide.lt-md>
    <mat-grid-list cols="8" rowHeight="2:1">
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/CSS3_logo_and_wordmark.svg" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img
          class="main3-icon"
          src="../../assets/javascript-js-seeklogo.com.svg"
        />
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/angular-seeklogo.com.svg" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img
          class="main3-icon"
          src="../../assets/redux-observable-seeklogo.com.svg"
        />
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/firebase-seeklogo.com.svg" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/nodejs-seeklogo.com.svg" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/mongodb-seeklogo.com.svg" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="main3-icon" src="../../assets/auth0-seeklogo.com.svg" />
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxHide.gt-md fxHide.md>
    <mat-grid-list cols="2" rowHeight="8:4" fxLayoutGap="1rem">
      <mat-grid-tile
        ><img
          class="main3-icon"
          src="../../assets/HTML5_logo_and_wordmark.svg"
        />
      </mat-grid-tile>
      <mat-grid-tile
        ><img class="main3-icon" src="../../assets/CSS3_logo_and_wordmark.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img
          class="main3-icon"
          src="../../assets/javascript-js-seeklogo.com.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img class="main3-icon" src="../../assets/angular-seeklogo.com.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img
          class="main3-icon"
          src="../../assets/redux-observable-seeklogo.com.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img class="main3-icon" src="../../assets/firebase-seeklogo.com.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img class="main3-icon" src="../../assets/nodejs-seeklogo.com.svg"
      /></mat-grid-tile>
      <mat-grid-tile
        ><img class="main3-icon" src="../../assets/auth0-seeklogo.com.svg"
      /></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="main4">
  <mat-grid-list class="main4-grid-list" cols="2" fxHide.lt-md rowHeight="2:1">
    <mat-grid-tile>
      <mat-card
        class="main4-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h1>About us</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main4-grid-list">
          <p>
            We started our work on 2018 in Iran and Canada. We work most modern
            technologies in web Design as we mentioned in skills section.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main4-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h1>Contact Us</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main4-grid-list">
          <div fxLayoutGap="1rem" fxLayoutAlign="center center ">
            <img src="../../assets/phone-fill.svg" alt="computer icon" /><span
              >+1 888888888</span
            >
          </div>
          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img src="../../assets/mail-fill.svg" alt="computer icon" /><span
              >Sorosh.bayanati@yahoo.com</span
            >
          </div>
        </mat-card-content>
        <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
          <img src="../../assets/whatsapp-line.svg" alt="computer icon" /><span
            >+1(403)9032374</span
          >
        </div>

        <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
          <img src="../../assets/instagram-line.svg" alt="computer icon" />
          <span>Soroushby</span>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list
    fxHide.gt-md
    fxHide.md
    class="grid-list"
    cols="1"
    rowHeight="1:1"
  >
    <mat-grid-tile>
      <mat-card
        class="main4-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title>About us</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            We started our work on 2018 in Iran and Canada. We work most modern
            technologies in web Design as we mentioned in skills section.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main4-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h1>Contact Us</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main4-grid-list">
          <div fxLayoutGap="1rem" fxLayoutAlign="center center ">
            <img src="../../assets/phone-fill.svg" alt="computer icon" /><span
              >+1 888888888</span
            >
          </div>
          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img src="../../assets/mail-fill.svg" alt="computer icon" /><span
              >Sorosh.bayanati@yahoo.com</span
            >
          </div>
        </mat-card-content>
        <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
          <img src="../../assets/whatsapp-line.svg" alt="computer icon" /><span
            >+1(403)9032374</span
          >
        </div>

        <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
          <img src="../../assets/instagram-line.svg" alt="computer icon" />
          <span>Soroushby</span>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
