.main {
  // background-image: url(../../assets/charles-deluvio-Lks7vei-eAg-unsplash.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  min-height: 100vh;

  &-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &-btn:link,
  &-btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.9s;
    letter-spacing: 0.8rem;
  }

  &-btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &-btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &-btn-white {
    background-color: #ff8671;
    color: rgb(15, 75, 20);
  }

  &-btn {
    font-size: 1.5rem;
    font-weight: 200;
  }
}

.main2 {
  background-image: linear-gradient(rgba(7, 6, 44, 0.7), rgba(7, 6, 44, 0.7)),
    url(../../assets/christopher-gower-m_HRfLhgABo-unsplash.jpg);
  background-repeat: no-repeat;

  background-size: cover;
  min-height: 100vh;

  &-card {
    width: 50%;
    height: 70%;
    background-color: #f7f7f7;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}

.main3 {
  background-color: #f7f7f7;
  min-height: 30vh;

  &-icon {
    width: 80%;
    height: 80%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    &:hover {
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
    }
  }

  &-header {
    margin-top: 3rem;
    // border-bottom: 0.2rem solid rgba(0, 0, 0, 0.726);
    color: black;
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: 200;

    // transition: all 0.2;
    // -webkit-transition: all 0.2;
    // -moz-transition: all 0.2;
    // -ms-transition: all 0.2;
    // -o-transition: all 0.2;
    // &:hover {
    //   transform: skewY(-5deg);
    //   -webkit-transform: skewY(-5deg);
    //   -moz-transform: skewY(-5deg);
    //   -ms-transform: skewY(-5deg);
    //   -o-transform: skewY(-5deg);
    // }
  }
}

.main4 {
  background-image: linear-gradient(rgba(7, 6, 44, 0.7), #ff8671a4),
    url(C:\Users\User\Desktop\el\tentWebsite\src\assets\marcella-oscar-uRSk8pT0Elg-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 50vh;

  &-grid-list {
    font-size: 2rem;
  }
}

.main4 mat-grid-tile-header {
  font-size: 3rem;
  font-weight: 200;
  background: none;
  color: black;
}

.mat-display-3 {
  color: white;
  animation-name: moveOnTop;
  animation-duration: 2s;
  backface-visibility: hidden;
  margin-bottom: 4rem;
}

@keyframes moveOnTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  60% {
    opacity: 0.5;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
